@import 'settings';
@import 'foundation';

.header {
  background: #000000;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 12px;

  .header__inner {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #000000;
    color: #FFFFFF;
    border-bottom: 3px solid #b11116;

    @media only screen and (max-width: #{$global-breakpoint}) {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
    }
  }

  .header-phone {
    font-size: 16px;
    padding-top: 15px;
    background: #000000;

    .header-phone__item {
      color: #FFFFFF;
      background: #000000;
      font-size: 16px;
    }

    p {
      margin-bottom: 0;
      line-height: 22px;
    }
  }

  .header-menu {
    color: #FFFFFF;
    background: #000000;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;

    th {
      line-height: 12px;
      font-size: 12px;
    }

    .header-menu__item {
      padding-top: 10px;
      font-size: 12px;
      line-height: 12px;
      background: #000000;
      color: #FFFFFF;
    }

    .header-menu__item a {
      text-transform: uppercase;
      font-size: 12px;
      line-height: 12px;
      background: #000000;
      color: #FFFFFF;
    }

    .header-menu__item_active a {
      color: #B11116;
    }
  }
}

.catalog-content {
  .columns {
    padding-bottom: 36px;
  }

  h3 {
    color: #000000;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 10px;
  }

  p {
    padding-bottom: 10px !important;
    margin-bottom: 0;
    color: #333333;
  }

  .phones-name {
    padding-top: 20px;
    margin-bottom: 0;
    font-weight: bold;
  }
}

.catalog {
  img {
    border: 1px solid #ededed;
  }

  p {
    margin-top: 10px;
    color: #b11116;
    font-size: 13px;
    line-height: 13px;
    text-transform: uppercase;
  }

  .columns {
    padding-bottom: 0;
  }

  .catalog__btn {
    margin-top: 20px;
    &:hover {
      td {
        border: 0;
        background: none;
      }

    }

    td {
      border: 0;
      background: none;

      &:hover {
        background: none;
      }
    }

    a {
      font-size: 12px;
      font-weight: normal;
      text-transform: uppercase;
      background: #b11116;
    }
  }
}

.catalog-btn {
  line-height: 12px;
  color: #FFFFFF;

  th {
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
  }

  .catalog-btn__inner {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .catalog__btn {
    padding-top: 8px;
    padding-bottom: 8px;
    background: #B11116;

    a {
      font-size: 12px;
      line-height: 12px;
      font-weight: normal;
      text-transform: uppercase;
    }
  }
}

.discount {
  .columns {
    padding-bottom: 0;
  }
}


.unsubscribe {
  .columns {
    padding-bottom: 0;

    a {
      font-size: 12px;
      color: #BBBBBF;
      text-decoration: underline;
    }

    p {
      margin-bottom: 0;
      padding-bottom: 5px;
      color: #FFFFFF;
      font-size: 12px;
    }

    .callout-inner {
      padding: 15px 10px;
      background: #4D4D50;
    }

    .unsubscribe__p {
      margin-bottom: 0;
    }
  }
}

.social {
  color: #333333;

  .social__inner {
    color: #333333;
    padding-bottom: 0;

    h6 {
      color: #333333;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 10px;
    }

    .social__space {
      padding-bottom: 5px;
    }
  }
}

.footer {
  color: #FFFFFF;

  .footer__inner {
    color: #FFFFFF;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #000000;
    th {
      color: #FFFFFF;
      background: #000000;
    }
  }

  .footer__link {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;

    a {
      color: #FFFFFF;
      font-size: 14px;
      line-height: 14px;
      font-weight: bold;
      text-transform: uppercase;
      text-decoration: none;
    }
  }
}
