<container>
  <row class="header">
    <columns class="header__inner">
      <row class="collapse">
        <columns small="4" large="2">
          <a href="#"><img width="70" height="70" src="assets/img/logo.png" alt=""></a>
        </columns>
        <columns class="header-phone" small="8" large="10">
          <p class="text-right">
            <a class="header-phone__item" href="tel:+74956662270">+7 (495) 666-22-70</a><br>
            <a class="header-phone__item" href="tel:+79296487885">+7 (929) 648-78-85</a>
          </p>
        </columns>
      </row>
      <row class="header-menu collapse">
        <columns class="header-menu__item" small="4" large="2">
          <p class="text-left"><a href="#">Женщинам</a></p>
        </columns>
        <columns class="header-menu__item" small="4" large="2">
          <p class="text-center"><a href="#">Мужчинам</a></p>
        </columns>
        <columns class="header-menu__item header-menu__item_active" small="4" large="2">
          <p class="text-center"><a href="#">Sale</a></p>
        </columns>
        <columns class="header-menu__item show-for-large" large="2">
          <p class="text-center"><a href="#">Обувь</a></p>
        </columns>
        <columns class="header-menu__item show-for-large" large="2">
          <p class="text-right"><a href="#">Аксессуары</a></p>
        </columns>
      </row>
    </columns>
  </row>
  <row class="discount collapse">
    <columns>
      <a href="#">
        <img class="float-center" width="600" height="250" src="assets/img/discount_2.jpg" alt="">
      </a>
    </columns>
  </row>
  <row class="discount collapse">
    <columns>
      <a href="#">
        <img class="float-center" width="600" height="250" src="assets/img/discount_2.jpg" alt="">
      </a>
    </columns>
  </row>
  <row class="discount collapse">
    <columns>
      <a href="#">
        <img class="float-center" width="600" height="250" src="assets/img/discount_2.jpg" alt="">
      </a>
    </columns>
  </row>
  <row class="catalog-content">
    <columns>
      <h3>Приложение Passbook для Iphone</h3>
    </columns>
  </row>
  <row>
    <columns class="show-for-large" large="1"></columns>
    <columns large="10">
      <img class="float-center" width="450" height="415" src="assets/img/phones.jpg" alt="">
    </columns>
    <columns class="show-for-large" large="1"></columns>
  </row>
  <row class="catalog-btn collapse">
    <columns class="catalog-btn__inner">
      <row>
        <columns small="2" large="4"></columns>
        <columns class="catalog__btn" small="8" large="4">
          <a href="#">Получить</a>
        </columns>
        <columns small="2" large="4"></columns>
      </row>
    </columns>
  </row>
  <hr>
  <row class="social collapse">
    <columns class="social__inner">
      <callout>
        <h6 class="text-center">AfFliction в соцсетях</h6>
        <row>
          <columns class="social__space">&nbsp;</columns>
        </row>
        <row>
          <columns small="6" large="3">
            <a href="#"><img class="float-center" src="assets/img/soc-v.png" alt=""></a>
          </columns>
          <columns small="6" large="3">
            <a href="#"><img class="float-center" src="assets/img/soc-i.png" alt=""></a>
          </columns>
          <columns small="6" large="3">
            <a href="#"><img class="float-center" src="assets/img/soc-f.png" alt=""></a>
          </columns>
          <columns small="6" large="3">
            <a href="#"><img class="float-center" src="assets/img/soc-y.png" alt=""></a>
          </columns>
        </row>
      </callout>
    </columns>
  </row>
  <row class="unsubscribe collapse">
    <columns>
      <callout>
          <p class="unsubscribe__p text-center"><a href="#" class="small">Отписаться</a></p>
          <p class="unsubscribe__p text-center">Эксклюзивный дистрибьютор бренда AFFLICTION <br> в России и СНГ</p>
      </callout>
    </columns>
  </row>
  <row class="footer">
    <columns class="footer__inner">
      <center>
        <span class="footer__link"><a href="#">www.afflictionrus.ru</a></span>
      </center>
    </columns>
  </row>
</container>
